/SimpleMessenger.xcodeproj/project.xcworkspace/xcuserdata/goya.xcuserdatad/UserInterfaceState.xcuserstate
/SimpleMessenger.xcodeproj/xcuserdata/goya.xcuserdatad/xcschemes/SimpleMessenger.xcscheme
/SimpleMessenger.xcodeproj/xcuserdata/goya.xcuserdatad/xcschemes/xcschememanagement.plist
/.DS_Store
